<div class="bpSideBar transition25" [ngClass]="{'miniBar':toggleSideBar}">
	<div class="sideBarHead">
		<div class="logoCon">
			<img src="assets/img/logo_icon.png" alt="Blue Pumpkin">
			<h3 class="sideHeader">Blue Pumpkin</h3>
			<a class="sideBarToggler" (click)="toggleMiniSideBar()">
				<i class="far fa-circle" *ngIf="toggleSideBar"></i>
				<i class="far fa-dot-circle" *ngIf="!toggleSideBar"></i>
			</a>
		</div>
	</div>
	<div class="sideBarListCon" *ngIf="admin">
		<div class="bpSideBar_Item">
			<a class="bpSideBar_ItemNav" [routerLink]="['/admin-dash']" [ngClass]="{'active':router.url == '/admin-dash'}">
				<span class="fas fa-rainbow fa-fw transition25" matTooltip="Dashboard" [matTooltipPosition]="position"></span>
				<span class="turncate  transition25">Dashboard</span>
			</a>
		</div>
		<div class="bpSideBar_Item">
			<a class="bpSideBar_ItemNav" [routerLink]="['/viewevents']" [ngClass]="{'active':router.url == '/viewevents'}">
				<span class="fas fa-pizza-slice fa-fw transition25" matTooltip="Events" [matTooltipPosition]="position"></span>
				<span class="turncate transition25">View Events</span>
			</a>
		</div>
		<div class="bpSideBar_Item">
			<a class="bpSideBar_ItemNav" [routerLink]="['/addEvent']" [ngClass]="{'active':router.url == '/addEvent'}">
				<span class="fas fa-folder-plus fa-fw transition25" matTooltip="Events" [matTooltipPosition]="position"></span>
				<span class="turncate transition25">Add Events</span>
			</a>
		</div>
		<div class="bpSideBar_Item">
			<a class="bpSideBar_ItemNav" [routerLink]="['/event-applicaitons']" [ngClass]="{'active':router.url == '/event-applicaitons'}">
				<span class="fas fa-folder-plus fa-fw transition25" matTooltip="Events" [matTooltipPosition]="position"></span>
				<span class="turncate transition25">Event Applicaitons</span>
			</a>
		</div>
		<div class="bpSideBar_Item">
			<a class="bpSideBar_ItemNav" [routerLink]="['/viewEmp']" [ngClass]="{'active':router.url == '/viewEmp'}">
				<span class="fas fa-user-secret fa-fw transition25" matTooltip="Events" [matTooltipPosition]="position"></span>
				<span class="turncate transition25">View Employees</span>
			</a>
		</div>
		<div class="bpSideBar_Item">
			<a class="bpSideBar_ItemNav" [routerLink]="['/addEmp']" [ngClass]="{'active':router.url == '/addEmp'}">
				<span class="fas fa-user-plus fa-fw transition25" matTooltip="Events" [matTooltipPosition]="position"></span>
				<span class="turncate transition25">Add Employees</span>
			</a>
		</div>
		<div class="bpSideBar_Item">
			<a class="bpSideBar_ItemNav" [routerLink]="['/slider']" [ngClass]="{'active':router.url == '/slider'}">
				<span class="fab fa-slideshare fa-fw transition25" matTooltip="Events" [matTooltipPosition]="position"></span>
				<span class="turncate transition25">Landing Slides</span>
			</a>
		</div>
		<!-- Admin Menus Ends -->
	</div>
	<div class="sideBarListCon" *ngIf="!admin">
		<div class="bpSideBar_Item">
			<a class="bpSideBar_ItemNav" [routerLink]="['/edash']" [ngClass]="{'active':router.url == '/edash'}">
				<span class="fas fa-rainbow fa-fw transition25" matTooltip="Events" [matTooltipPosition]="position"></span>
				<span class="turncate transition25">Dashboard</span>
			</a>
		</div>
		<div class="bpSideBar_Item">
			<a class="bpSideBar_ItemNav" [routerLink]="['/slider']" [ngClass]="{'active':router.url == '/slider'}">
				<span class="fas fa-pizza fa-fw transition25" matTooltip="Events" [matTooltipPosition]="position"></span>
				<span class="turncate transition25">Events</span>
			</a>
		</div>
	</div>
</div>