<section class="bpBody">
	<app-header (headerClassChange)='updateHeaderToggle()'></app-header>
	<section class="mainSec transition25" [ngClass]="{'open':mainContentSize}">
		<app-navbar></app-navbar>
		<div class="compBody">
			<div class="row">
				<div class="form-group col-md-6">
					<mat-form-field>
						<input matInput type="text" [(ngModel)]="employeeData.firstName" placeholder="First Name" requierd>
					</mat-form-field>
				</div>
				<div class="form-group col-md-6">
					<mat-form-field>
						<input matInput type="text" [(ngModel)]="employeeData.lastName" placeholder="Last Name" requierd>
					</mat-form-field>
				</div>
				<div class="form-group col-md-6">
					<mat-form-field>
						<input matInput type="email" [(ngModel)]="employeeData.email" placeholder="Email" requierd>
					</mat-form-field>
				</div>
				<div class="form-group col-md-6">
					<mat-form-field>
						<mat-select [(ngModel)]="employeeData.empDep" placeholder="Select Department"  requierd>
							<mat-option value="i">I.T.</mat-option>
							<mat-option value="m">Marketing</mat-option>
							<mat-option value="o">Others</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="form-group col-md-6">
					<mat-form-field>
						<mat-select [(ngModel)]="employeeData.education" placeholder="Select Education" requierd>
							<mat-option value="Intermediate">Matriculation</mat-option>
							<mat-option value="Intermediate">Intermediate</mat-option>
							<mat-option value="Graduation">Graduation</mat-option>
							<mat-option value="Masters">Masters</mat-option>
							<mat-option value="Ph.D">Ph.D</mat-option>
							<mat-option value="others">Others</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="form-group col-md-6">
					<mat-form-field>
						<input matInput [(ngModel)]="employeeData.birthDate" [matDatepicker]="picker" placeholder="Birthdate" requierd>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="form-group col-md-6">
					<label for="flUpload" class="fileUploader">
						<a mat-flat-button color="primary">Upload File <span class="text-danger">*</span></a>
						<input id="flUpload" type="file" name="fileUpload" accept=".jpg, .png" class="d-none">
					</label>
				</div>
				<div class="form-group col-md-6">
					<mat-form-field>
						<input matInput type="password" [(ngModel)]="employeeData.Password" placeholder="Password" required>
					</mat-form-field>
				</div>
				<div class="form-group col-md-12 text-center">
					<button mat-raised-button (click)="createEmployee()" class="themeBtn w-50">Create Employee</button>
				</div>
			</div>
		</div>
	</section>
</section>