<section class="bpBody">
	<app-header (headerClassChange)='updateHeaderToggle()'></app-header>
	<section class="mainSec transition25" [ngClass]="{'open':mainContentSize}">
		<app-navbar></app-navbar>
		<div class="compBody">
			<div class="row">
				<div class="form-group col-md-6">
					<mat-form-field>
						<input matInput type="text" placeholder="First Name">
					</mat-form-field>
				</div>
				<div class="form-group col-md-6">
					<mat-form-field>
						<input matInput type="text" placeholder="Last Name">
					</mat-form-field>
				</div>
				<div class="form-group col-md-6">
					<mat-form-field>
						<input matInput type="text" OnlyNumber="true" maxlength="10" placeholder="Phone Number">
					</mat-form-field>
				</div>
				<div class="form-group col-md-6">
					<mat-form-field>
						<input matInput type="email" placeholder="Email">
					</mat-form-field>
				</div>
				<div class="form-group col-md-6">
					<mat-form-field>
						<mat-select placeholder="Select Department">
							<mat-option value="i">I.T.</mat-option>
							<mat-option value="m">Marketing</mat-option>
							<mat-option value="o">Others</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="form-group col-md-6">
					<mat-form-field>
						<mat-select placeholder="Select Education">
							<mat-option value="Intermediate">Matriculation</mat-option>
							<mat-option value="Intermediate">Intermediate</mat-option>
							<mat-option value="Graduation">Graduation</mat-option>
							<mat-option value="Masters">Masters</mat-option>
							<mat-option value="Ph.D">Ph.D</mat-option>
							<mat-option value="others">Others</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="form-group col-md-6">
					<mat-form-field>
						<input matInput [matDatepicker]="picker" placeholder="Birthdate">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
		</div>
	</section>
</section>
