<section class="bpBody">
	<app-header (headerClassChange)='updateHeaderToggle()'></app-header>
	<section class="mainSec transition25" [ngClass]="{'open':mainContentSize}">
		<app-navbar></app-navbar>
		<div class="compBody">
			<div class="bp_tableCon">
				<div class="row">
					<div class="form-group col-12">
						<mat-form-field>
						  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Table">
						</mat-form-field>
					</div>
				</div>
				<table mat-table [dataSource]="dataSource">

				<!-- Position Column -->
					<ng-container matColumnDef="eventTitle">
						<th mat-header-cell *matHeaderCellDef> Event Title </th>
				    	<td mat-cell *matCellDef="let element"> {{element.eventTitle}} </td>
				    </ng-container>

			    <!-- Name Column -->
					<ng-container matColumnDef="eventSubTitle">
						<th mat-header-cell *matHeaderCellDef> Event Sub Title </th>
						<td mat-cell *matCellDef="let element"> {{element.eventSubTitle}} </td>
					</ng-container>

			    <!-- Weight Column -->
					<ng-container matColumnDef="eventDesc">
			    		<th mat-header-cell *matHeaderCellDef> Events Description </th>
			    		<td mat-cell *matCellDef="let element"> {{element.eventDesc}} </td>
			    	</ng-container>
					<!-- Dept Column -->
					<ng-container matColumnDef="eventDate">
						<th mat-header-cell *matHeaderCellDef> Event Date </th>
						<td mat-cell *matCellDef="let element"> {{element.eventDate}} </td>
					</ng-container>
					<!-- Action -->
					<ng-container matColumnDef="action">
						<th mat-header-cell *matHeaderCellDef> Action </th>
						<td mat-cell *matCellDef="let element">
							<button mat-icon-button color="warn" (click)="deleteEvent(element.id)"><i class="fas fa-trash"></i></button> 
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			  <mat-paginator [length]="dataSource.length"  [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
			</div>
		</div>
	</section>
</section>
