<div class="mainLoginCon">
	<div class="loginCon">
		<div class="loginhead">
			<h4>Sign In</h4>
			<p>Welcome back, please login to your account.</p>
		</div>
		<div class="form-group">
			<mat-form-field>
				<input matInput type="email" placeholder="Email">
			</mat-form-field>
		</div>
		<div class="form-group">
			<mat-form-field>
				<input matInput type="password" placeholder="Password">
			</mat-form-field>
		</div>
		<div class="form-group">
			<button mat-raised-button class="w-100 themeBtn" [routerLink]="['/admin-dash']">Login</button>
		</div>
	</div>
</div>