@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face{ /* for IE */
	font-family:Montserrat;
	src:url('assets/fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
	font-family: "Montserrat";
	src: url("assets/fonts/Montserrat/Montserrat-Regular.eot"); 
	src: url("assets/fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
	url("assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
*{
	font-family: Montserrat;
}
mat-form-field.mat-form-field{
	width: 100%;
}
table{
	width: 100%;
}
body{
	overflow-x: hidden;
}
.modal-backdrop{z-index: 998;}
a, a:hover, a:active{cursor: pointer;text-decoration: none;}
a:not([href]):not([tabindex]){color: inherit;cursor: pointer;}
.transition25{
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
}
/*SIDE BAR STYLING STARTS*/
.bpSideBar{
	position: fixed;
	min-height: 100vh;
	min-width: 260px;
	z-index: 200;
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.05);
	box-shadow: 0 0 15px 0 rgba(0,0,0,.05);
	color: #444;
}
a.bpSideBar_ItemNav {
	color: #444;
}
.sideBarHead{
	width: 260px;
}
.logoCon {
	padding: 0.94em 0.94em 1.5em;
	border-bottom: 10px solid #ffffff91;
}
.logoCon img{
	height: 45px;
}
.sideHeader {
	font-size: 1.2em;
	display: inline-block;
	font-weight: 600;
	color: #4c75c2;
}
.sideBarToggler{
	float: right;
	margin-top: .4em;
	font-size: 1.2em;
}
a.sideBarToggler{
	color: #4c75c2 !important;
}
.sideBarListCon {
	overflow-x: hidden;
}
.bpSideBar_Item {
	padding: 0 0.938em;
	position: relative;
	left: 0px;
}
.bpSideBar_Item a.bpSideBar_ItemNav>*{
	position: relative;
	line-height: 1.5;
	left: 0px;
}
.bpSideBar_Item:hover a.bpSideBar_ItemNav>*{
	left: 5px;
}
.bpSideBar_ItemNav{
	background: rgba(0,0,0,0);
	padding: 0.75em 0.94em;
	display: block;
	border-radius: 4px;
	margin-bottom: 0.94em;
	display: flex;
	display: -webkit-flex;
}
.bpSideBar_ItemNav.active{
	background: linear-gradient(90deg, rgb(76, 117, 194), rgba(78, 119, 196, 0.65));
	background: -webkit-linear-gradient(90deg, rgb(76, 117, 194), rgba(78, 119, 196, 0.65));
	background: -moz-linear-gradient(90deg, rgb(76, 117, 194), rgba(78, 119, 196, 0.65));
	background: -ms-linear-gradient(90deg, rgb(76, 117, 194), rgba(78, 119, 196, 0.65));
	background: -o-linear-gradient(90deg, rgb(76, 117, 194), rgba(78, 119, 196, 0.65));
	box-shadow: 0 0 8px #4c75c2;
	-webkit-box-shadow: 0 0 8px #4c75c2;
}
.bpSideBar_ItemNav.active span{
	display: inline-block;
}
.bpSideBar_ItemNav.active span{
	color: #fff;
}
.bpSideBar_ItemNav span.fa-fw{
	margin-right: 0.94em;
}
.bpSideBar.miniBar {
	min-width: 80px;
	width: 80px;
	overflow-x: hidden;
}
.bpSideBar.miniBar .logoCon .sideHeader {
	display: none;
}
.bpSideBar.miniBar .logoCon .sideBarToggler{
	display: none;
}
.bpSideBar.miniBar .sideBarListCon span.turncate.transition25{
	display: none;
}
span.turncate {
	word-break: keep-all;
	width: 150px;
	min-width: 150px;
}
/*HOVER EFFECT*/
.bpSideBar.miniBar:hover {
	min-width: 260px;
	width: 260px;
}
.bpSideBar.miniBar:hover .logoCon .sideHeader {
	display: inline-block;
}
.bpSideBar.miniBar:hover .logoCon .sideBarToggler{
	display: inline-block;
}
.bpSideBar.miniBar:hover .sideBarListCon span.turncate.transition25{
	display: inline-block;
}

/*NAVBAR DESIGN*/
.dashBoardNav {
	width: inherit;
	top: 30px;
	display: block;
}
.bpNavHeader {
	background: rgb(255, 255, 255);
	padding: .8rem 1rem;
	border-radius: .5rem;
	transition: all .5s;
	-webkit-box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
	-webkit-transition: all .5s;
	top: 0;
	display: block;
	color: #444;
}
.navSideToggler{
	font-size: 1.2em;
	display: none;
	cursor: pointer;
}
.userNavDataCon {
	margin-left: 1em;
	display: flex;
	display: -webkit-flex;
}
.userNavtextCon{
	margin: auto;
	text-align: right;
}
.userNavtextCon h6{
	font-size: 0.7em;
	margin-bottom: 0;
	line-height: 0.2;
	margin-top: 0.9em;
}
.userNavtextCon span{
	font-size: 0.5em;
}
.userNavImgCon{
	padding: 0 0.5em;
	cursor: pointer;
	position: relative;
}
.userNavImgCon img{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.12),0 2px 4px 0 rgba(0,0,0,.08);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.12),0 2px 4px 0 rgba(0,0,0,.08);
}
.navdropDown{
	border-radius: 5px;
	padding: 0.5em 0.75px;
	border: 1px solid rgba(0,0,0,0.1);
	z-index: -50;
	opacity: 0;
	transform: translateY(15px);
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	position: absolute;
	width: 125px;
	left: -75px;
	top: 45px;
	background: #fff;
	-webkit-box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
}
.navdropDown.open{
	opacity: 1;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	z-index: 49;
}
.navdropDown::before{
	content: '';
	display: block;
	top: -2px;
	position: absolute;
	right: 10px;
	width: 10px;
	height: 10px;
	display: block;
	background: #fff;
	-webkit-transform: rotate(45deg) translate(-7px);
	transform: rotate(45deg) translate(-7px);
	border-top: 1px solid rgba(0,0,0,.1);
	border-left: 1px solid rgba(0,0,0,.1);
	z-index: 10;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.navdropDown ul{
	list-style: none;
	padding: 0 0.3em;
	margin: 0;
}
.navdropDown li a{
	padding: 0.5em 0.5em;
	display: block;
	margin-bottom: 0.4em;
}
.navdropDown li a:hover{
	background: #5078c3;
	color: #fff !important;
}
.NavDrpsep{
	margin: 0.2em 0;
	height: 1px solid #b1b1b1;
}
.navNotiCon{
	position: relative;
}
.navNotiCon button:focus{
	outline: none;
}
.notificationCon{
	border-radius: 5px;
	padding: 0;
	border: 1px solid rgba(0,0,0,0.1);
	z-index: -50;
	opacity: 0;
	transform: translateY(15px);
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	position: absolute;
	width: 300px;
	left: -259px;
	top: 40px;
	background: #fff;
	-webkit-box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
}
.notificationCon.open{
	opacity: 1;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	z-index: 49;
}
.notificationCon::before{
	content: '';
	display: block;
	top: 0px;
	position: absolute;
	right: 10px;
	width: 10px;
	height: 10px;
	display: block;
	background: #557cc5;
	-webkit-transform: rotate(45deg) translate(-7px);
	transform: rotate(45deg) translate(-7px);
	border-top: 1px solid rgba(0,0,0,.1);
	border-left: 1px solid rgba(0,0,0,.1);
	z-index: 10;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.notiHeader{
	background-color: #557cc5;
	color: #fff;
	padding: 0.75em 0.75px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.noti {
	display: flex;
	border-bottom: 1px solid #dcdcdc;
	padding: .75em;
}
.notiCon {
	max-height: 300px;
	overflow: auto;
}
.noti:hover{
	background: #fbfbfb;
}
.icon {
	padding: 0.2em;
	/*	color: #17a2b8;*/
}
p.notiTitle {
	display: inline-block;
	margin-bottom: 0;
	margin-top: 0.25em;
	font-size: 0.9em;
	padding: 0 0 0 0.5em;
	font-weight: 600;
	/*	color: #17a2b8;*/
}
span.notiTime {
	font-size: 0.7em;
	float: right;
	margin-top: 0.25em;
	color: #b1b1b1;
}
p.notiTxt {
	padding-left: 0.5em;
	font-size: 0.8em;
	color: #696565;
	margin-bottom: 0.5em;
}
.notiFooter {
	color: #557cc5;
	padding: .3em;
}
/*COMPONENTS DESIGNING*/
.themeBtn{
	background: linear-gradient(90deg, rgb(76, 117, 194), rgba(78, 119, 196, 0.65));
	background: -webkit-linear-gradient(90deg, rgb(76, 117, 194), rgba(78, 119, 196, 0.65));
	background: -moz-linear-gradient(90deg, rgb(76, 117, 194), rgba(78, 119, 196, 0.65));
	background: -ms-linear-gradient(90deg, rgb(76, 117, 194), rgba(78, 119, 196, 0.65));
	background: -o-linear-gradient(90deg, rgb(76, 117, 194), rgba(78, 119, 196, 0.65));
	box-shadow: 0 0 8px #4c75c2;
	-webkit-box-shadow: 0 0 8px #4c75c2;
	color: #fff;
}
.bpBody{
	background-color: #f7f7f7;
	min-height: 100vh;
}
.mainSec{
	padding: 1.5em 1.5em;
	margin-left: 260px;
	position: relative;
}
.mainSec.open {
	margin-left: 80px;
}
.compBody{
	margin-top: 1.5rem;
	padding: 1.5em 0.94em;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	background: rgb(255,255,255);
}
.fileUploader{
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #3f51b5;
	padding: 0.35em;
}
button:focus{
	outline: none;
}
/* LANDING NAVBAR DESIGN */
.bpMyNav {
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.navbar-brand img {
	cursor: pointer;
	width: 150px;
}
.bpMyNav .navbar-nav .nav-link{
	color: #fff;
	font-size: 1.2em;
	padding: 0.5em 1em !important;
	margin-right: 1em;
	position: relative;
	transition: .25s ease;
	-webkit-transition: .25s ease;
	-moz-transition: .25s ease;
	-o-transition: .25s ease;
}
.bpMyNav .navbar-nav .nav-link.active{
	color: rgb(76, 118, 196);
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.bpMyNav .nav-link::after, .bpMyNav .nav-link::before{
	position: absolute;
	opacity: 0;
	height: 100%;
	width: 2px;
	content: '';
	background: rgb(76, 118, 196);
	transition: all 0.3s;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.bpMyNav .nav-link.active::after, .bpMyNav .nav-link.active::before{background: rgb(255, 255, 255);}
.bpMyNav .nav-link::before {
	left: 0px;
	top: 0px;
}
.bpMyNav .nav-link::after {
	right: 0px;
	bottom: 0px;
}
.bpMyNav .nav-link:hover::before, .bpMyNav .nav-link:hover::after {
	opacity: 1;
	height: 2px;
	width: 100%;
}
/* NEXT SECTION */
.SliderSection{
	min-height: 100vh;
	width: 100%;
	display: flex;
	display: -webkit-flex;
}
.SlideTextCon{
	padding: 3rem 1em;
	color: #fff;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.SlideTextCon h3{
	width: 100%;
	max-width: 750px;
	padding: 1em 1rem;
	margin: auto;
	margin-bottom: 1.2em;
}
.SlideTextCon p{
	margin: auto;
	margin-bottom: 0px;
	width: 100%;
	max-width: 500px;
}
.countDownCon {
	background: #000428;
	padding: 5.5rem 1rem;
	color: #fff;
	position: relative;
	z-index: 2;
}
.countDownCon::before {
	content: '';
	display: block;
	position: absolute;
	z-index: -2;
	top: -50px;
	height: 100px;
	left: 50px;
	width: 100%;
	background: #000428;
	transform: rotate(-4deg);
}
.countCon {
	margin: auto;
	display: inline-block;
	font-size: 2.5rem;
	background: linear-gradient(180deg,#eae7e7 50%,#ffffff 50%);
	padding: 0.75rem 1rem;
	border-radius: 5px;
	color: #4c76c4;
	box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.4);
}
.eventsCon{
	background: #000428;
	padding: 5.5rem 1rem;
	color: #fff;
	position: relative;
}
.thumbnailCon{
	width: 100%;
	padding: 5px;
	border: none;
	background-color: rgba(76, 118, 196);
	position: relative;
	z-index: 1;
	display: block;
	margin-bottom: 20px;
	line-height: 1.42857;
	border-radius: 4px;
	-webkit-transition: border 0.2s ease-in-out;
	-o-transition: border 0.2s ease-in-out;
	transition: border 0.2s ease-in-out;
}
.thumbnailCon::before,.thumbnailCon::after {
	background: inherit;
	content: '';
	display: block;
	height: 50%;
	left: 0;
	position: absolute;
	right: 0;
	z-index: -1;
	-webkit-backface-visibility: hidden;
}
.thumbnailCon::after {
	bottom: 0;
	transform: skewY(-2deg);
	transform-origin: 100%;
}
.thumbnailCon::before {
	top: 0;
	transform: skewY(2deg);
	transform-origin: 100% 0;
}
.thumbnailCon img{
	width: 100%;
	height: 225px;
	margin-top: -9px;
	margin-bottom: 26px;
	-webkit-clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
	clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
	filter: grayscale(100%);
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	transition: .25s ease;
	-webkit-transition: .25s ease;
}
.thumbnailCon:hover img{
	filter: grayscale(0%);
	cursor: pointer;
}
.eventTxtCon{
	padding: 0.5rem 0;
	margin-bottom: 1rem;
}
.eventTxtCon h3 {
	font-size: 1.5rem;
	margin-bottom: 0.5em;
	color: #4c76c4;
	text-shadow: 0 0 8px rgba(255, 255, 255,0.4);
}
.evenTxtCon h6{
	font-weight: 600;
	margin-bottom: 1rem;
	color: rgba(76, 118, 196);
}
.eventTxtCon p{
	font-size: 0.8rem;
	margin-bottom: 0px;
}
.winnerSection{
	padding: 5em 1em;
}
.avtCon {
	width: 300px;
	height: 300px;
	overflow: hidden;
	margin: auto;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin-bottom: 1.5rem;
}
.winners h3 {
	font-weight: 600;
	color: #000428;
}
.winners h5{
	font-size: 0.8em;
}
.winners{
	margin-bottom: 1.5em;
}
.winnerSection h1 sup{
	position: relative;
	transform: rotate(27deg);
	-webkit-transform: rotate(27deg);
	display: inline-block;
}
/*FAQ SECITON CSS*/
.faqSection{
	padding: 10em 1.2em;
	background: rgb(240, 248, 255);
}
.faqSection .card {
	margin-bottom: 1.5rem;
	border: none;
	box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
	transition: 0.25s ease;
	-webkit-transition: 0.25s ease;
	-moz-transition: 0.25s ease;
	-o-transition: 0.25s ease;
	border-radius: 5px;
}
.faqSection .card:hover{
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}
.faqSection .card-header {
	padding: 0;
	background: none;
	border: none;
}
.faqSection .card h5 {
	padding: 0.7em 0.5rem;
	cursor: pointer;
	color: #6d6d6d;
}
/*SUpport Page*/
.topSupSec{
	padding: 10em 0px;
	background: linear-gradient(90deg,#000428,#313771);
	background: -webkit-linear-gradient(90deg,#000428,#313771);
	background: -moz-linear-gradient(90deg,#000428,#313771);
	min-height: 60vh;
	color: #fff;
	display: flex;
	display: webkit-flex;
}
.searchCon{
	position: relative;
}
.searchCon input.form-control{
	box-shadow: 0 0 20px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,0.3);
	padding-right: 30px;
}
.searchCon i.fas.fa-search {
	position: absolute;
	top: 13px;
	color: #b1b1b1;
	font-size: 1.5rem;
	right: 25px;
}
.articlesSection{
	min-height: 40vh;
	padding: 5em 0;
	display: flex;
	display: -webkit-flex;
}
.artCon {
	text-align: center;
	padding: 1.75em 0.5em;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
/*CONTACT US PAGE*/
.contactSec{
	background: linear-gradient(90deg,#000428,#313771);
	background: -webkit-linear-gradient(90deg,#000428,#313771);
	background: -moz-linear-gradient(90deg,#000428,#313771);
	padding: 10em 0px;
	min-height: 100vh;
	display: flex;
	display: -webkit-flex;
}
.formCon {
	padding: 2em;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 20px 0px rgba(233, 236, 239, 0.4);
	-webkit-box-shadow: 0 0 20px 0px rgba(233, 236, 239, 0.4);
}
.fbBtn.mat-mini-fab {
    background: #4c65c5;
}
.twitBtn.mat-mini-fab{
	background: #45bcff;
}
.gitBtn.mat-mini-fab{
	background-color: #4d4e4e;
}
.gBtn.mat-mini-fab{
	background-color: #d63232;
}