<nav class="navbar navbar-expand-md navbar-light fixed-top bpMyNav">
	<a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt="Brand"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bpNav" aria-controls="bpNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="bpNav">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">Events</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">Winners</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">Contact Us</a>
			</li>
		</ul>
	</div>
</nav>
<section class="SliderSection">
	<!-- Swiper -->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide" style="background: url('/../assets/img/slide1.jpg');background-size: cover;background-position: center;background-repeat: no-repeat;">
				<div class="SlideTextCon">
					<h3>New York Concert</h3>
					<p>An Amazing Time in New York with our employees. We are Best, Motivated and always ready to FIGHT!.</p>
				</div>
			</div>
			<div class="swiper-slide"  style="background: url('/../assets/img/slide2.jpg');background-size: cover;background-position: center;background-repeat: no-repeat;">
				<div class="SlideTextCon">
					<h3>Tokyo Meeting</h3>
					<p>An Amazing Time in New York with our employees. We are Best, Motivated and always ready to FIGHT!.</p>
				</div>
			</div>
			<div class="swiper-slide"  style="background: url('/../assets/img/slide3.jpg');background-size: cover;background-position: center;background-repeat: no-repeat;">
				<div class="SlideTextCon">
					<h3>Thunder Games</h3>
					<p>An Amazing Time in New York with our employees. We are Best, Motivated and always ready to FIGHT!.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="countDownCon text-center">
	<h1 class="mb-3 pb-5">Nearest Event Coming!</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="countCon mb-3" id="days"></div>
				<p>Days</p>
			</div>
			<div class="col-md-3">
				<div class="countCon mb-3" id="hours"></div>
				<p>Hours</p>
			</div>
			<div class="col-md-3">
				<div class="countCon mb-3" id="minutes"></div>
				<p>Minutes</p>
			</div>
			<div class="col-md-3">
				<div class="countCon mb-3" id="seconds"></div>
				<p>Seconds</p>
			</div>
		</div>
	</div>
</section>
<section class="eventsCon">
	<h1 class="mb-3 pb-5 text-center">Up Coming Events!</h1>
	<div class="container  text-left">
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnailCon">
					<img src="assets/img/event1.jpg" alt="EVENT">
				</div>
				<div class="eventTxtCon">
					<h3>Music Concert</h3>
					<h6>limited Seats</h6>
					<p>Lorem ipsum dolor sit amet, quo paulo melius convenire ex, his ne feugait omnesque. Vis no summo dicant mnesarchum. Tota persecuti eam id, ferri oratio.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnailCon">
					<img src="assets/img/event2.jpg" alt="EVENT">
				</div>
				<div class="eventTxtCon">
					<h3>Marathon Race</h3>
					<h6>All Invited</h6>
					<p>Lorem ipsum dolor sit amet, quo paulo melius convenire ex, his ne feugait omnesque. Vis no summo dicant mnesarchum. Tota persecuti eam id, ferri oratio.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnailCon">
					<img src="assets/img/event3.jpg" alt="EVENT">
				</div>
				<div class="eventTxtCon">
					<h3>Park Walk</h3>
					<h6>All Invited</h6>
					<p>Lorem ipsum dolor sit amet, quo paulo melius convenire ex, his ne feugait omnesque. Vis no summo dicant mnesarchum. Tota persecuti eam id, ferri oratio.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnailCon">
					<img src="assets/img/event4.jpg" alt="EVENT">
				</div>
				<div class="eventTxtCon">
					<h3>Motivational Speech</h3>
					<h6>I.T Depart</h6>
					<p>Lorem ipsum dolor sit amet, quo paulo melius convenire ex, his ne feugait omnesque. Vis no summo dicant mnesarchum. Tota persecuti eam id, ferri oratio.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="winnerSection text-center">
	<h1 class="pb-5 mb-3">Last Event Winners <sup><i class="fas fa-crown"></i></sup></h1>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="winners">
					<div class="avtCon">
						<img src="assets/img/win1.jpg" alt="1st Winner" class="img-fluid ">
					</div>
					<h3>1st</h3>
					<h5><a class="text-primary">arianagrande@mail.com</a></h5>
				</div>
			</div>
			<div class="col-md-4">
				<div class="winners">
					<div class="avtCon">
						<img src="assets/img/win2.jpg" alt="2nd Winner" class="img-fluid ">
					</div>
					<h3>2nd</h3>
					<h5><a class="text-primary">johnMax@mail.com</a></h5>
				</div>
			</div>
			<div class="col-md-4">
				<div class="winners">
					<div class="avtCon">
						<img src="assets/img/win3.jpg" alt="3rd Winner" class="img-fluid ">
					</div>
					<h3>3rd</h3>
					<h5><a class="text-primary">ariandan@mail.com</a></h5>
				</div>
			</div>
		</div>
	</div>
</section>
<footer class="text-center py-3 px-2 text-dark bg-light">
	&copy; Copyright All right Reserved to the maksof-Hussain <i class="fab fa-github"></i>
</footer>